* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

li, a, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display:flex; 
  justify-content: space-between;
  align-items: center;
  padding:30px 10%;
}
.logo {
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding:0 20px;
}

.navLinks li a {
  transition: all 0.3 ease 0s;
}

.navLinks li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  border-radius: 19px;
  background-color: rgba(0, 136, 169, 1);
  border:none;
  cursor: pointer;
  transition: all 0.3 ease 0s;

}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);

  
}

.headerMiddle {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 30px 10% 50px 0;
}

.headerMiddle h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #edf0f1;
  padding: 0 50px 15px 0;
  font-size: 30px;
}

p.headerParagraph {
  font-family: Arial, Helvetica, sans-serif;
  color: #edf0f1ec;
  padding: 0 50px 15px 0;
  font-weight: 100;
}

.mainHeading h1  {
  font-family: Arial, Helvetica, sans-serif;
  color: #24252A; 
  padding: 10px 50px 15px 0;
  display: flex;
  justify-content: center;
  background-color: #5798ac;
}

.mainImages {
  
  display: flex;
  justify-content: space-evenly;
  background-color: #5798ac ;
  padding-bottom: 62px;
  padding: 0px 400px 50px 400px;
  

}

.mainImages img {
  border: #24252A 3px solid;
  border-radius: 5px;
  margin: 0 10%;
}

.headerContent {
  margin-left: 10%;

}

.mainBanner {
  background-color: #5798ac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



h1.bannerText {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  font-weight: 200;
  font-size: 30px;
}

h3.bannerQuote {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px 5px;
  margin: 0 10%;
  font-weight: 100;
}

.mainCard {
  display: flex;
  width: 800px;
  min-height: 150px;
  background-color: #67a4c0;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.45);
  transition: all 0.2s;
  justify-content: space-between;
  
}

h2.cardTitle {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

p.cardApply {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
}
a.cardLink {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(0, 136, 169, 1);
  transition: all 0.3s;
}

.mainCard:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

a.cardLink:hover {
  background-color: rgb(1, 114, 143);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

p.cardParagraph {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.cardLeft, .cardRight {
  background-color: inherit;
  display: flex;
}

.cardLeft {
  flex-direction: column;
  width: auto;
  margin-left: 20px;
}

.cardRight {
  width: 100px;
  justify-content: right;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  font-size: 12px;
}