.header {
  background-color: rgb(66, 13, 242);
}
.headerBarRight {
  justify-content: right;
  display: flex;
}

.headerBarRight a {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.headerBarLeft a {
  margin-left: 50px;
}

.headerContent {
  margin-left: auto;
  margin-right: auto;
}
