* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

li, a, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display:flex; 
  justify-content: space-between;
  align-items: center;
  padding:30px 10%;
}
.logo {
  cursor: pointer;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding:0 20px;
}

.navLinks li a {
  transition: all 0.3 ease 0s;
}

.navLinks li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  border-radius: 19px;
  background-color: rgba(0, 136, 169, 1);
  border:none;
  cursor: pointer;
  transition: all 0.3 ease 0s;

}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  
}

.headerMiddle {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 30px 10% 50px 0;
}

.headerMiddle h1, p {
  font-family: Arial, Helvetica, sans-serif;
  color: #edf0f1;
  padding: 0 50px 15px 0;
}

.mainHeading h1  {
  font-family: Arial, Helvetica, sans-serif;
  color: #24252A; 
  padding: 10px 50px 15px 0;
  display: flex;
  justify-content: center;
  background-color: #97AFB9;
}

.mainImages {
  
  display: flex;
  justify-content: space-evenly;
  background-color: #97AFB9 ;
  padding-bottom: 62px;
  padding: 0px 400px 50px 400px;
  

}

.mainImages img {
  border: #24252A 3px solid;
  border-radius: 5px;
  margin: 0 10%;
}

.headerContent {
  margin-left: 10%;

}

.mainBanner {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



h1.bannerText {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

h3.bannerQuote {
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 5px;
  margin: 0 10%;
}
